/* Setting a background photo that has a fixed position */
body {
  /* Remove margins and paddings */
  margin: 0;
  padding: 0;

  /* Location of the image */
  background-image: url("https://scontent.fkul4-3.fna.fbcdn.net/v/t1.0-9/131818714_10158201465490892_781898171971940667_o.jpg?_nc_cat=107&ccb=2&_nc_sid=0debeb&_nc_ohc=JxuSDAI0vNUAX-gsOrk&_nc_ht=scontent.fkul4-3.fna&oh=0902edebbb3993e3979d8d1305b612f6&oe=600628B2");
  
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  
  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;
}

#navbar {
  /* always stays in the same place even if the page is scrolled */
  position: fixed;
  width: 100%;
  display: grid;
  /* 3 column grid, the fr unit (a “fraction”) */
  grid-template-columns: 1fr 1fr 1fr;
  /* background-color: black; */
  background: black;
  background-image: linear-gradient(90deg, #272727, black);
  text-align: center;
}

#navbar a {
  /* Use imported Roboto font */
  font-family: "Roboto", sans-serif;
  color: white;
  text-decoration: none;
  font-size: 12pt;
  padding: 10px 0px 10px 0px;
}

/* Change appearance when mouseover */
#navbar a:hover {
  background-color: silver;
  color: black;
}

/* Hello, I am a Web Developer. */
#home {
  width: 100%;
  height: 85vh;
  color: white;
  display: flex;
  /* The flexible items are displayed vertically, as a column */
  flex-direction: column;
  /* Align the flex items at the center of the container, horizontally */
  justify-content: center;
  /* Center the alignments for all the items of the flexible <div> element, vertically */
  align-items: center;
  /* Center the text horizontally */
  text-align: center;
  padding: 0 20px 0 20px;
}

#home-h1{
  font-family: 'Comfortaa', cursive;
  font-size: 28pt;
}

#home-h2{
  font-family: monospace;
  font-style: italic;
  font-size: 20pt;
}

/* Projects section */
#projects{
  width: 100%;
  font-family: "Roboto", sans-serif;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*display: grid;
  grid-template-rows: 30% 70%;*/
  padding: 50px 20px 80px 20px;
}

#projects-h1{
  font-size: 24pt;
  padding: 20px;
  /* font-weight: bold; */
}

.customCardShadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: black;
}

.customCardShadow:hover {
  background-color: silver;
}

.customContactSection {
  width: 100%;
  height: auto;
  background: SeaGreen;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  padding: 50px 0% 50px 0%;
}

#contact h1 {
  font-size: 24pt;
  /* font-weight: bold; */
}

.customColWidth {
  width: 400px;
}

.customContactBtn {
  color: black;
  text-decoration: none;
  font-size: 16pt;
  /* font-family: monospace; */
  padding: 10px;
  border: solid;
  border-color: transparent;
}

.customContactBtn:hover {
  border-color: black;
}

footer {
  width: 100%;
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding: 20px 0px 14px 0px;
}