/* Scrolls smoothly when clicking on navbar buttons */
html {
  scroll-behavior: smooth;
}

/* Setting a background photo that has a fixed position */
body {
  /* Remove margins and paddings */
  margin: 0;
  padding: 0;

  /* Location of the image */
  background-image: url("https://scontent.fkul4-3.fna.fbcdn.net/v/t1.0-9/131818714_10158201465490892_781898171971940667_o.jpg?_nc_cat=107&ccb=2&_nc_sid=0debeb&_nc_ohc=JxuSDAI0vNUAX-gsOrk&_nc_ht=scontent.fkul4-3.fna&oh=0902edebbb3993e3979d8d1305b612f6&oe=600628B2");
  
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  
  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;

  /* Bring section to the back of the page */
  z-index: -1;
}

.customBgText{
  /* Bring section to the back of the page */
  z-index: -1;
  font-size: 10pt;
  color: white;
  text-align: left;
  /* Always stays in the same place even if the page is scrolled */
  position: fixed;
  /* Shift to the bottom right corner */
  padding: 90vh 0 0 85vw;
  opacity: 0.6;
}

.customNavbar {
  /* Bring navbar to the front */
  z-index: 1;
}

/* Centre the <div> */
.customDivCenter {
  width: 100%;
  display: flex;
  /* The flexible items are displayed vertically, as a column */
  flex-direction: column;
  /* Align the flex items at the center of the container, horizontally */
  justify-content: center;
  /* Center the alignments for all the items of the flexible <div> element, vertically */
  align-items: center;
  /* Center the text horizontally */
  text-align: center;
}

.customHomeSection {
  /* 100% of screen height */
  height: 100vh;
  padding: 0 20px 0 20px;
}

#home-title{
  font-family: 'Comfortaa', cursive;
  font-size: 28pt;
  font-weight: bold;
  color: white;
}

#home-description{
  /*font-family: monospace;*/
  font-size: 14pt;
  color: white;
}

/* Projects section */
.customProjectsSection{
  font-family: "Roboto", sans-serif;
  background-color: white;
  padding: 50px 20px 80px 20px;
}

.classProjectHeader{
  font-size: 24pt;
  padding: 20px;
}

.classPersonalProjects {
  padding-top: 60px;
}

.classProjectContainer {
  justify-content: center;
}

.classCardSize{
  max-width: 50%;
}

.customCardShadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: black;
}

.customCardShadow:hover {
  /* Text doesn't get underlined */
  text-decoration: none;
  background-color: silver;
  color: black;
}

.customCardText {
  font-size: 13pt;
}

.customContactSection {
  height: auto;
  color: white;
  font-family: "Roboto", sans-serif;
  padding: 50px 20px 40px 20px;
}

#contact h1 {
  font-size: 24pt;
  /* font-weight: bold; */
}

.customContactItems {
  /* Align the flex items at the center of the container, horizontally */
  justify-content: center;
}

.customContactBtn {
  width: 200px;
  height: 60px;
  color: white;
  text-decoration: none;
  font-size: 16pt;
  padding: 10px;
  border: solid;
  border-color: transparent;
}

.customContactBtn:hover {
  border-color: white;
  color: white;
}

.customFooterSection {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 12pt;
  padding: 20px 0px 10px 0px;
}

/* bootstrap col-sm- */
@media (max-width: 576px)  {

  .classCardSize{
    max-width: 100%;
  }

}